body {
  background: #EDEDED;
}

h1 {
  font-size: 40px;
  color: #0BADA6
}

h3 {
  font-size: 20px;
  color: darkgray
}

/* Giving our navbar some padding and a background color */

.nav {
  color: white;
  max-height: 57px; 
  margin-left: 30px; 
  padding: inherit; 
  font-size: 20px; 
  background-color: white;
}

/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
.nav-item  {
  background-color: white; 
  font-size: 15px; 
}

/* Getting rid of the default link styles here */
.dropdown  {
  color: white; 
  margin-left: 30px; 
  padding: inherit; 
  font-weight: bold; 
  background-color: white;
}

/* Styling the header, giving it a height, a background color, and some top padding */
.header {
  height: 100px;
  padding-top: 10px;
  background: rgb(255, 255, 255);

}


/* Centering our h1 tag inside our header, giving it a little padding, removing its margin */
.header h1 {
  padding: 60px;
  margin: 0;
  color: #000;
  text-align: center;
}

/* Giving the .post element margin on 3 sides */
.container {
background: rgb(255, 255, 255);

}


.row {
background: rgb(255, 255, 255);
}

.row2 {
background:#EDEDED;
}

.button1 {
color: rgb(255, 255, 255); 
}

footer{
  background-color: #666666; 
  border-top-style: solid; 
  border-top-width: 5px; 
  border-top-color: #0BADA6;
  color: white; 
  min-height: 35px; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px; 
  text-align: center; 
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 7px; 
  }